/* studentView.css */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #a1c4fd, #c2e9fb); /* Light blue gradient */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    overflow-y: auto;
    max-height: 90vh;
}

h1, h2 {
    text-align: center;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555555;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #77dd77; /* Light green */
    outline: none;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #2196f3; /* Default blue color */
    color: white;
}

.select {
    background-color: #4caf50; /* Green */
}

.btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

#studentList {
    margin-top: 20px;
}

#students {
    list-style-type: none;
    padding: 0;
}

#students li {
    background: #ffffff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#students li span {
    color: #555555;
}
